paths:
  raw_data : 'data/raw/telecom.csv'
  artifacts_dir : 'artifacts'

schema:
  target_column : 'Churn'

split:
  test_size : 0.20
  val_size : 0.10
  stratify : true

project:
  random_seed: 42

inference:
  threshold: 0.45

preprocess:
  drop_columns: ["customerID"]
